<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
               
                
            </ul>
        </div>
        <div class="navbar" role="navigation">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Requests", "Index", "Requests")</li>
            <li>@Html.ActionLink("Users", "Index", "Users")</li>
        </div>
    </div>
</div>